button
  border: 0;
  font-size: $f-xxs;

.btn
  font-size: 0.85em;
  padding: $md;
  text-decoration: none;
  display: inline-block;

.btn-sm
  @extend .btn;
  font-size: 0.7em;

.btn-lg
  @extend .btn;
  font-size: 1em;

.btn-lg-on-md
  @extend .btn;
  @media screen and (min-width: $bp-md)
    font-size: 1em;

.btn-primary
  background: $c-s;
  color: $c-w;
  &:hover
    color: $c-w;
    background: $c-d;

.btn-primary-light
  border: 1px solid $c-w;
  background: transparent;
  color: $c-w;

.btn-secondary
  background: $c-l;
  color: $c-d;
  &:hover
    color: $c-b;

.btn-standout
  background: $c-w;
  border: 1px solid $c-d;
  color: $c-d;
