#hiw
  margin: $lg auto $xxl;
  h1
    margin-bottom: $lg;

.c-hiw-container
  width: 100%;
  position: relative;
  font-family: $f-s;
  margin: $md 0;

.c-hiw-img
  display: inline-block;
  width: 30%;
  padding: 0 2.5%;
  box-sizing: border-box;
  img
    width: 100%;

.c-hiw-txt
  display: inline-block;
  width: 70%;
  padding: 0 5%;
  box-sizing: border-box;
  vertical-align: middle;
  transform: translateY(-50%);
  @media screen and (min-width: $bp-md)
    transform: translateY(-75%);
    padding: 0 2.5%;
