.c-prototype
  position: fixed;
  top: 0;
  z-index: 100;
  background: #FFD3C4;
  height: 50px;
  width: 100%;
  a:visited
    color: blue;

.c-proto-third
  width: 33%;
  padding: 0 1.5%;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
