.c-chip-container
  transform: translateY(-20%);

.c-chip
  padding: 1em 2em;
  background: white;
  text-align: center;
  border: 1px solid #111;
  @media screen and (min-width: $bp-md)
    padding: 3em 6em;
  h2
    margin: 0 0 0.6em;
