.c-form
  padding: $md 0;

.c-field
  padding: 1em 1.5em;
  background: $c-w;
  border: 1px solid $c-d;
  font-family: 'PT Mono', monospace;
  &:focus
    background: $c-w;

.c-label
  padding: $md 0;
  display: block;
  font-size: $f-xs;
