.c-header
  background: $c-d;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  height: 90px;
  @media screen and (min-width: $bp-md)
    max-width: 900px;
    margin: 0 auto;
  .c-logo
    transform: translateY(50%);
    @media screen and (min-width: $bp-md)
      transform: translateY(25%);
