.c-hero
  background: url('../assets/bg.png')
  background-size: cover;
  min-height: 420px;
  height: 80%;
  // prototype only
  margin-top: 50px;
  color: white;
  @media screen and (min-width: $bp-md)
    background-size: cover;
  p
    font-family: $f-s;
  h1
    font-family: $f-p;
    font-weight: bold;

.c-hero-content
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
  @media screen and (min-width: $bp-md)
    margin-top: 8em;
    margin-bottom: 8em;
