.c-modal-overlay
  background: rgba(255,255,255,0.8);

.c-modal-container
  background: $c-w;
  padding: $md;
  text-align: center;
  border: 1px solid $c-d;
  border-top: 0;

.c-modal-close
  text-transform: uppercase;
  background: $c-d;
  font-weight: bold;
  a:link, a:visited
    color: $c-w;
