form(class="c-form")
  div(class="c-field-container m-b-md")
    label(class="c-label d-n" for="name") Instagram Handle
    input(class="c-field" id="name" placeholder="Instagram Handle")
  div(class="c-field-container m-b-md")
    label(class="c-label d-n" for="email") Paypal Email
    input(class="c-field" id="email" placeholder="Paypal Email")
  a(class="btn-lg btn-primary" href="application_submitted.html") SUBMIT  
