div(class="c-prototype")
  div(class="c-proto-third ta-l")
    a(href=prevLink class="ta-l d-ib") PREVIOUS
  div(class="c-proto-third ta-c")
    p(class="d-ib c-proto-third tt-u") 0#{protoNumber} #{protoName} 
  div(class="c-proto-third ta-r")
    a(href=nextLink class="ta-r d-ib") NEXT
 
